#lu-logo {
  width: 60px;
}

.SideBar {
  width: 240px;
  background: #fff;

  dl {
    color: #333;

    .SideBar-wrapper {
      width: 200px;
    }

    dt {
      display: flex;
      padding: 12px 0 12px 22px;
      margin-top: 0;
      font-weight: 700;
      border-left: 2px solid transparent;
      justify-content: center;
      align-items: center;

      .item-text {
        flex-grow: 2;
      }

      .item-icon {
        flex-grow: 1;

        svg {
          height: 20px;

          &.trans180 {
            transform: rotate(180deg);
            animation: roll180 1s;
          }

          &.trans0 {
            transform: rotate(0deg);
            animation: roll0 1s;
          }
        }
      }

      .ripple-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        &-inner {
          position: absolute;
          width: 264.008px;
          height: 264.008px;
          background-color: rgba(74, 72, 72, 0.870588);
          border-radius: 50%;
          opacity: 1;
          transition: opacity 3s cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transform: scale(-5);
        }
      }
    }

    dd {
      overflow: hidden;
      width: 200px;
      transition: all 0.75s cubic-bezier(0.35, 0, 0.25, 1);

      a {
        color: #00bcd4;
        display: block;
        padding: 10px 24px 10px 46px;
        font-weight: 400;
        letter-spacing: 0.1px;
        white-space: nowrap;
        border-left: 2px solid transparent;
      }
    }
  }

  dt:focus,
  a:focus {
    background-color: #eee;
    outline: 0;
  }
}

@keyframes roll180 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes roll0 {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0);
  }
}
